<h1>Leeme</h1>

<h3>Instrucciones</h3>
<ul>
    <li>Instalar  <a href="https://nodejs.org/es/">Node.js</a></li>
    <li><code>npm install -g typescript</code></li>
    <li>Instalar <b>json-server</b> <a href="https://github.com/typicode/json-server">enlace</a></li>
    <li><b>JSON Server</b>: http://127.0.0.1:3000/</li>
    <li>Ejecutar <code>npm install -g json-server</code></li>
    <li>Instalar <a href="https://www.npmjs.com/package/http-server">http-server</a></li>
    <li>Ejecutar <code>npm install http-server -g</code></li>
    <li>Ejecutar: <code>npm run start</code> en el directorio donde esta la app</li>
    <li>En package.json se puede cambiar <code>start</code> por otro nombre o el puerto por ej.</li>
    <li><code>json-server --watch db.json</code> se ejecuta automaticamente</li>
    <li><b>Web</b>: http://127.0.0.1:5000/index.html</li>
    <li>En VSC Terminal > Run Build Task > tsc: watch - tsconfig.json</li>
    
</ul>