<h2>Libros</h2>
<div ng-ig="!vm.mensaje">
  <div class="alert alert-success" role="alert">
      {{vm.mensaje}}
  </div>
</div>

<div class="row">

    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"># isbn</th>
            <th scope="col" ng-click="campo='titulo'; orden= !orden">Título</th>
            <th scope="col" ng-click="campo='autor'; orden= !orden">Autor</th>
            <th scope="col">Páginas</th>
            <th scope="col">Digital</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="libro in vm.libros | filter: filtro | orderBy:campo:orden">
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.numeroPaginas }}</td>
            <td>
                {{(libro.digital)?'Digital':'papel'}}
                <ol ng-show="{{(libro.digital)}}">
                  <li ng-repeat="tipo in libro.formatos">{{tipo}}</li>
                </ol>
            </td>
            <td>
              <a ng-click="vm.editar(libro)">
                <i class="fas fa-edit botones" title="Editar libro"></i>
              </a>   
              <!-- Button trigger modal -->
              <a>
                <i class="fas fa-trash botones" title="Borrar libro" data-toggle="modal" data-target="#exampleModal"></i>
              </a>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ES IRREVERSIBLE!!!!!!!!!!!!<br>
                      BE CAREFULLLL!!!!!!!!!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary"
                              ng-click="vm.borrar(libro)" data-dismiss="modal">
                              Eliminar Libro
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          
            </tr>
        </tbody>
      </table>
    </div>


    <div class="col-md-5 offset-md-1">
      <h3>{{(vm.libroEditar.id)?'Modificar ':'Crear '}} Libro</h3>
      <h4>Validación con <span class="text-danger">ng-message</span></h4>
      <form name="formulario" ng-submit="vm.guardar()" novalidate>
      
        <div class="form-group row">
          <label for="inputAutor" class="col-sm-2 col-form-label">Autor</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAutor" name="inputAutor" 
                    placeholder="Autor del libro" 
                    ng-class="{'is-invalid' : formulario.inputAutor.$invalid && formulario.inputAutor.$dirty}"
                    ng-minlength=3
                    ng-maxlength=45
                    ng-model="vm.libroEditar.autor" required>
            <div class="invalid-feedback" ng-messages for="formulario.inputAutor.$error"
                                          ng-if=formulario.inputAutor.$dirty>
                <span ng-message when="required">Ingrese un nombre para el autor</span>
                <span ng-message when="minlength">Se admiten 3 caracteres como minimo</span>
                <span ng-message when="maxlength">Se admiten 45 caracteres como maximo</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputAutor" class="col-sm-2 col-form-label">Titulo</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitulo" name="inputTitulo" 
                    placeholder="Autor del libro" 
                    ng-class="{'is-invalid' : formulario.inputTitulo.$invalid && formulario.inputTitulo.$dirty}"
                    ng-minlength=3
                    ng-maxlength=45
                    ng-model="vm.libroEditar.titulo" required>
            <div class="invalid-feedback" ng-messages for="formulario.inputTitulo.$error"
                                          ng-if=formulario.inputTitulo.$dirty>
                <span ng-message when="required">Ingrese un nombre para el titulo</span>
                <span ng-message when="minlength">Se admiten 3 caracteres como minimo</span>
                <span ng-message when="maxlength">Se admiten 45 caracteres como maximo</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="inputIsbn" class="col-sm-2 col-form-label">ISBN</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputIsbn" name="inputIsbn" 
                      placeholder="Isbn del libro" 
                      ng-class="{'is-invalid' : formulario.inputIsbn.$invalid && formulario.inputIsbn.$dirty}"
                      ng-minlength=3
                      ng-maxlength=45
                      ng-model="vm.libroEditar.isbn" required>
              <div class="invalid-feedback" ng-messages for="formulario.inputIsbn.$error"
                      ng-if=formulario.inputIsbn.$dirty>
              <span ng-message when="required">Ingrese el ISBN</span>
              <span ng-message when="minlength">Se admiten 3 caracteres como minimo</span>
              <span ng-message when="maxlength">Se admiten 11 caracteres como maximo</span>
</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNumPaginas" class="col-sm-2 col-form-label">Nº Páginas</label>
            <div class="col-sm-10">
              <input type="number" min=0 max= 4500 class="form-control w-5" id="inputNumPaginas" name="inputNumPaginas" 
                      placeholder="Nº de páginas del libro" 
                      ng-class="{'is-invalid' : formulario.inputNumPaginas.$invalid && formulario.inputNumPaginas.$dirty}"
                      ng-minlength=1
                      ng-maxlength=4
                      ng-model="vm.libroEditar.numeroPaginas" required>
              <div class="invalid-feedback" ng-messages for="formulario.inputNumPaginas.$error"
                      ng-if=formulario.inputNumPaginas.$dirty>
                <span ng-message when="required">Ingrese el numero de paginas</span>
                <span ng-message when="minlength">Se admiten 1 caracteres como minimo</span>
                <span ng-message when="maxlength">Se admiten 4 caracteres como maximo</span>
              </div>
            </div>
        </div>

        <fieldset class="form-group row">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">digital</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" 
                       ng-model="vm.libroEditar.digital"
                       ng-click="(vm.libroEditar.formatos = {})"
                       ng-checked="(vm.libroEditar.digital == true)"
                       ng-true-value=true>
                <label class="form-check-label" for="gridRadios1">
                  Si
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" 
                       ng-model="vm.libroEditar.digital"
                       ng-checked="(vm.libroEditar.digital == false || vm.libroEditar.id == undefined)" 
                       ng-click="(vm.libroEditar.formatos = undefined)"
                       ng-true-value=false>
                <label class="form-check-label" for="gridRadios2">
                  No
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        
        <div class="form-group row" ng-if="vm.libroEditar.formatos">
          <div class="col-sm-2">Formatos</div>
          <div class="col-sm-10">
            
            <div class="form-check">
                    PDF
                <input type="checkbox" name="formatos.pdf" ng-model="vm.libroEditar.formatos.pdf">  
                <label class="form-check-label" for="gridCheck1">
                    epub
                </label>
                <input type="checkbox" name="formatos.epub" ng-model="vm.libroEditar.formatos.epub"> 
              
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1"
                       ng-model="vm.libroEditar.formatos"
                       ng-checked="vm.libroEditar.formatos[1] == 'pdf'"
                       ng-true-value="pdf">
                <label class="form-check-label" for="gridCheck1">
                  pdf
                </label>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">

            <input type="submit" value="{{(vm.libroEditar.id)?'Modificar':'Crear Nuevo'}}" class="btn btn-primary" ng-disabled="formulario.$invalid || formulario.$pristine">
  
          </div>
        </div>
      </form>
    </div> 
    <br>
    <br>
</div>  

